/* Styling Container */
.container {
  height: 50vh;
  background-color: skyblue;
  border-bottom: 7px solid black;
}


/* Styling Ball */
.ball {
  height: 80px;
  width: 80px;
  background-color: orange;
  border-radius: 50%;
  border: 3px solid black;
  position: relative;
  animation: moveX 13s linear 0s infinite, moveY 1s ease-in 0s infinite alternate-reverse;
  z-index: 99;
}


/* Adding Strips For The Basketball */
.strip1 {
  /* background-color: black; */
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 5px solid rgba(128, 128, 128, 0);
  border-right: 5px solid black;
  position: relative;
  top: -3px;
  left: -63px;
}

.strip2 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 5px solid rgba(128, 128, 128, 0);
  border-left: 5px solid black;
  position: relative;
  top: -92px;
  left: 53px;
}

.strip3 {
  height: 80px;
  width: 80px;
  border-top: 5px solid black;
  position: relative;
  bottom: 140px;
}

.strip4 {
  height: 80px;
  width: 80px;
  border-left: 5px solid black;
  position: relative;
  bottom: 262px;
  left: 36px;
}


/* Adding Animation For Ball Motion */
@keyframes moveX {
  from {
    left: 0px;

  }

  to {
    left: 90vw;
    transform: rotate(3000deg);
  }
}

@keyframes moveY {
  from {
    top: 0px;
  }

  to {
    top: 39vh;
  }
}



/* Adding Clouds */
.cloud {
  display: flex;
  position: relative;
  animation: move 60s linear 0s infinite;
}

p {
  position: absolute;
}

@keyframes move {
  from {
    transform: translateX(-50vw);
  }

  to {
    transform: translateX(130vw);
  }
}

.p-1 {
  font-size: 150px;
  left: -30vw;
  bottom: 10vh;
}

.p-2 {
  font-size: 100px;
  left: 30vw;
}

.p-3 {
  font-size: 120px;
  left: 50vw;
}

.p-4 {
  font-size: 150px;
  left: 73vw;
  top: -20vh;
}

.p-5 {
  font-size: 150px;
  left: 80px;
  top: -35vh;
}